
MONGO_ROOT_USER=towing
MONGO_ROOT_PASSWORD=change-me-to-a-long-random-string


PORT=5000
JWT_SECRET=generate-with-openssl-rand-hex-32
CLIENT_URL=https://cartowingservicedubai.com

ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-me-to-a-long-random-string


EMAIL_USER=""
EMAIL_PASS=""
NOTIFY_EMAIL=
